<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="XWT Main" sequenceNumber="1703172091">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.pushingpixels.trident" version="1.3.0.v20231219-1530"/>
      <unit id="org.eclipse.orbit.xml-apis-ext" version="1.0.0.v20230923-0644"/>
      <repository id="orbit" location="https://download.eclipse.org/tools/orbit/simrel/orbit-aggregation/nightly/latest"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.swt" version="0.0.0"/>
      <unit id="jakarta.inject.jakarta.inject-api" version="1.0.5"/>
      <unit id="jakarta.annotation-api" version="1.3.5"/>
      <repository id="platform" location="https://download.eclipse.org/eclipse/updates/4.30/R-4.30-202312010110"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xsd.sdk.feature.group" version="0.0.0"/>
      <repository id="emf" location="https://download.eclipse.org/modeling/emf/emf/builds/release/2.36.0"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.swtbot.feature.group" version="0.0.0"/>
      <repository id="swtbot" location="https://download.eclipse.org/technology/swtbot/releases/4.1.0/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="0.0.0"/>
      <repository id="webtools" location="https://download.eclipse.org/webtools/downloads/drops/R3.32.0/S-3.32M3a-20231114230950/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.gef.sdk.feature.group" version="0.0.0"/>
      <repository id="gef" location="https://download.eclipse.org/tools/gef/classic/release/3.18.0"/>
    </location>
  </locations>
</target>
